*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 8vh;
    width:200vh;
    background-color: black ;
    color: white;
    display: flex;
    position: fixed;
    top: 0px;
   
}
.nav-logo{
    height: 7vh;
    width: 17vh;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 7vh;
    width: 16vh;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
.add-icon{
    display: flex;
    gap: 0.7vh;
}
.add-main{
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 2.7vh;
    margin-top: 1.5vh;
}
.add-sec{
    font-size: 1ren;
}
.search_box{
    display: flex;
    justify-content: space-evenly;
    background-color: goldenrod;
    width: 93vh;
    height: 5.5vh;
    border-radius: .7vh;
    margin-left: 3vh;
    margin-top: 1vh;
    gap: 0px;
}
.All{
    text-indent: 1vh;
    width:7vh;
    border-top-left-radius: .4vh;
    border-bottom-left-radius: .4vh;
    background-color: #f3f3f3;
    text-align: center ;
    border: none;
}
.placeholder{
    width:100%;
    font-size: 1rem;
    border: none;
    
}
.search_icon{
    color: black;
    width: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.sign-in{
    margin-left: 5vh;
    margin-top: 2vh;
    justify-content: center;
    align-items: center;

}


.hello{
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    
}
.Account{
     font-size:0.9rem;
}
.history{
    margin-left: 3vh;
    margin-top: 2vh;
    justify-content: center;
    align-items: center;
}
.r{
    font-size: 0.8rem;
}
.o{
    font-size:0.9rem;
}
.cart{
    margin-left: 5vh;
    justify-content: center;
    align-items: center; 
    display: flex;
}
.logocart{
    
    font-size: 4vh;
}
.c{
    margin-top: 2vh;
    font-size:0.9rem;
}
